<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <img src=https://www.tonsor-cie.com/wp-content/uploads/2016/03/LOGO-LEnvie.png>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <div class="ui-widget">
    <form action="/cocktails/search" method="get" class="navbar-wagon-search">
      <input type="text" id="search"  class="navbar-wagon-search-input" placeholder="Search by ingredient", name="search">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    </div>

    <!-- Notification -->
    <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
      <div class="badge-container">
        <i class="fa fa-glass" aria-hidden="true"></i>
        <div class="badge badge-blue"><%= @cocktails.size %></div>
      </div>
    <% end %>

    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "https://avatars2.githubusercontent.com/u/3948?v=3&s=400", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>


    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Add a cocktail"), new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

    <!-- Auto complete -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $( function() {
    var availableTags = [
 "lemon",
 "ice",
 "mint leaves",
 "Light rum",
 "Applejack",
 "Gin",
 "Dark rum",
 "Sweet Vermouth",
 "Strawberry schnapps",
 "Scotch",
 "Apricot brandy",
 "Triple sec",
 "Southern Comfort",
 "Orange bitters",
 "Brandy",
 "Lemon vodka",
 "Blended whiskey",
 "Dry Vermouth",
 "Amaretto",
 "Tea",
 "Creme de Cacao",
 "Apple brandy",
 "Dubonnet Blanc",
 "Apple schnapps",
 "Añejo rum",
 "Champagne",
 "Coffee liqueur",
 "Rum",
 "Cachaca",
 "Sugar",
 "Blackberry brandy",
 "Calvados",
 "Ice",
 "Lemon",
 "Coffee brandy",
 "Bourbon",
 "Irish whiskey",
 "Vodka",
 "Tequila",
 "Bitters",
 "Lime juice",
 "Egg",
 "Mint",
 "Sherry",
 "Cherry brandy",
 "Canadian whisky",
 "Kahlua",
 "Yellow Chartreuse",
 "Cognac",
 "demerara Sugar",
 "Sake",
 "Dubonnet Rouge",
 "Anis",
 "White Creme de Menthe",
 "Gold tequila",
 "Sweet and sour",
 "Salt",
 "Galliano",
 "Green Creme de Menthe",
 "Kummel",
 "Anisette",
 "Carbonated water",
 "Lemon peel",
 "White wine",
 "Sloe gin",
 "Melon liqueur",
 "Swedish Punsch",
 "Peach brandy",
 "Passion fruit juice",
 "Peppermint schnapps",
 "Creme de Noyaux",
 "Grenadine",
 "Port",
 "Red wine",
 "Rye whiskey",
 "Grapefruit juice",
 "Ricard",
 "Banana liqueur",
 "Vanilla ice-cream",
 "Whiskey",
 "Creme de Banane",
 "Lime juice cordial",
 "Strawberry liqueur",
 "Sambuca",
 "Peach schnapps",
 "Apple juice",
 "Berries",
 "Blueberries",
 "Orange juice",
 "Pineapple juice",
 "Cranberries",
 "Brown sugar",
 "Milk",
 "Egg yolk",
 "Lemon juice",
 "Soda water",
 "Coconut liqueur",
 "Cream",
 "Pineapple",
 "Sugar syrup",
 "Ginger ale",
 "Worcestershire sauce",
 "Ginger",
 "Strawberries",
 "Chocolate syrup",
 "Yoghurt",
 "Grape juice",
 "Orange",
 "Apple cider",
 "Banana",
 "Mango",
 "Soy milk",
 "Lime",
 "Cantaloupe",
 "Grapes",
 "Kiwi",
 "Tomato juice",
 "Cocoa powder",
 "Chocolate",
 "Heavy cream",
 "Peach Vodka",
 "Ouzo",
 "Coffee",
 "Spiced rum",
 "Water",
 "Espresso",
 "Angelica root",
 "Condensed milk",
 "Honey",
 "Whipping cream",
 "Half-and-half",
 "Bread",
 "Plums",
 "Johnnie Walker",
 "Vanilla",
 "Apple",
 "Orange rum",
 "Everclear",
 "Kool-Aid",
 "Lemonade",
 "Cranberry juice",
 "Eggnog",
 "Carbonated soft drink",
 "Cloves",
 "Raisins",
 "Almond",
 "Beer",
 "Pink lemonade",
 "Sherbet",
 "Peach nectar",
 "Firewater",
 "Absolut Citron",
 "Malibu rum",
 "Midori melon liqueur",
 "151 proof rum",
 "Bacardi Limon",
 "Bailey's irish cream",
 "Lager",
 "Orange vodka",
 "Blue Curacao",
 "Absolut Vodka",
 "Jägermeister",
 "Jack Daniels",
 "Drambuie",
 "Whisky",
 "White rum",
 "Pisco",
 "Irish cream",
 "Yukon Jack",
 "Goldschlager",
 "Butterscotch schnapps",
 "Grand Marnier",
 "Peachtree schnapps",
 "Absolut Kurant",
 "Ale",
 "Chambord raspberry liqueur",
 "Tia maria",
 "Chocolate liqueur",
 "Frangelico",
 "Barenjager",
 "Hpnotiq",
 "Coca-Cola",
 "Tuaca",
 "Tang",
 "Tropicana",
 "Grain alcohol",
 "Schnapps",
 "Cider",
 "Aftershock",
 "Sprite",
 "Rumple Minze",
 "Key Largo schnapps",
 "Pisang Ambon",
 "Pernod",
 "7-Up",
 "Limeade",
 "Gold rum",
 "Wild Turkey",
 "Cointreau",
 "Lime vodka",
 "Maraschino cherry juice",
 "Creme de Cassis",
 "Zima",
 "Crown Royal",
 "Cardamom",
 "Orange Curacao",
 "Tabasco sauce",
 "Peach liqueur",
 "Curacao",
 "Cherry Heering",
 "Fruit punch",
 "Vermouth",
 "Cherry juice",
 "Cinnamon schnapps",
 "Orange peel",
 "Advocaat",
 "Clamato juice",
 "Sour mix",
 "Apfelkorn",
 "Green Chartreuse",
 "Root beer schnapps",
 "Coconut rum",
 "Raspberry schnapps",
 "Black Sambuca",
 "Vanilla vodka",
 "Root beer",
 "Absolut Peppar",
 "Vanilla schnapps",
 "Orange liqueur",
 "Kiwi liqueur",
 "Hot chocolate",
 "Jello",
 "Mountain Dew",
 "Blueberry schnapps",
 "Maui",
 "Tennessee whiskey",
 "White chocolate liqueur",
 "Cream of coconut",
 "Citrus vodka",
 "Fruit juice",
 "Cranberry vodka",
 "Campari",
 "Corona",
 "Chocolate ice-cream",
 "Jim Beam",
 "Aquavit",
 "Hawaiian Punch",
 "Blackberry schnapps",
 "Chocolate milk",
 "Watermelon schnapps",
 "Beef bouillon",
 "Dr. Pepper",
 "Iced tea",
 "Hot Damn",
 "Club soda",
 "Benedictine",
 "Dark Creme de Cacao",
 "Black rum",
 "Cherry Cola",
 "Absinthe",
 "Angostura bitters",
 "Tequila Rose",
 "Guinness stout",
 "Orange soda",
 "Wildberry schnapps",
 "Lemon-lime soda",
 "Godiva liqueur",
 "Baileys irish cream",
 "Schweppes Russchian",
 "Melon vodka",
 "Sour Apple Pucker",
 "Raspberry vodka",
 "coconut milk"];
    $("#search").autocomplete({
      source: availableTags
    });
  } );
  </script>

